<!-- nav-bar.component.html -->
<div class="nav-container" [ngClass]="{'scrolled': isScrolled, 'menu-open': isMenuOpen}">
  <div class="nav-left">
    <a routerLink="/" class="logo-link">
      <img width="200" src="https://applisound-images.s3.eu-west-3.amazonaws.com/applisound-bleu.png" 
           alt="Applisound logo" 
           [ngClass]="{'mobile-logo': isMobile}">
    </a>
    
    <!-- Burger Menu Button -->
    <button class="burger-menu" (click)="toggleMenu()" *ngIf="isMobile">
      <span [class.active]="isMenuOpen"></span>
      <span [class.active]="isMenuOpen"></span>
      <span [class.active]="isMenuOpen"></span>
    </button>
  </div>

  <!-- Navigation Links -->
  <nav class="nav-links" [class.mobile-menu]="isMobile" [class.show]="isMenuOpen">
    <a routerLink="/music" routerLinkActive="active" (click)="isMenuOpen = false">Music</a>
    <a routerLink="/voiceover" routerLinkActive="active" (click)="isMenuOpen = false">Voiceover</a>
    <a routerLink="/producsounds" routerLinkActive="active" (click)="isMenuOpen = false">Producsounds</a>
    <a routerLink="/pricing" routerLinkActive="active" (click)="isMenuOpen = false">Pricing</a>
    <a routerLink="/enterprise" routerLinkActive="active" (click)="isMenuOpen = false">Enterprise</a>
    <a routerLink="/how-it-works" routerLinkActive="active" (click)="isMenuOpen = false">How It Works</a>
    
    <!-- Auth buttons in mobile menu -->
    <div class="mobile-auth" *ngIf="isMobile">
      <button class="btn-login" [routerLink]="[{ outlets: { auth: ['login'] } }]" (click)="isMenuOpen = false">
        LOGIN
      </button>
      <button class="btn-create-account" [routerLink]="[{ outlets: { auth: ['signup'] } }]" (click)="isMenuOpen = false">
        CREATE ACCOUNT
      </button>
    </div>
  </nav>

  <!-- Auth buttons for desktop -->
  <div class="nav-right" *ngIf="!isMobile">
    <button class="btn-login" [routerLink]="[{ outlets: { auth: ['login'] } }]">LOGIN</button>
    <button class="btn-create-account" [routerLink]="[{ outlets: { auth: ['signup'] } }]">CREATE ACCOUNT</button>
  </div>
</div>
