<div class="nav-container" [ngClass]="{'scrolled': isScrolled, 'menu-open': isMenuOpen}">
  <div class="nav-left">
    <a [routerLink]="['/', translate.currentLang]"class="logo-link">
      <img width="200" src="https://applisound-images.s3.eu-west-3.amazonaws.com/applisound-bleu.png" 
           alt="Applisound logo" 
           [ngClass]="{'mobile-logo': isMobile}">
    </a>
    
    <button class="burger-menu" (click)="toggleMenu()" *ngIf="isMobile">
      <span [class.active]="isMenuOpen"></span>
      <span [class.active]="isMenuOpen"></span>
      <span [class.active]="isMenuOpen"></span>
    </button>
  </div>

  <nav class="nav-links" [class.mobile-menu]="isMobile" [class.show]="isMenuOpen">
    
    <a [routerLink]="['/', translate.currentLang, 'music']" routerLinkActive="active" (click)="isMenuOpen = false">
      {{ 'NAV.MUSIC' | translate }}
    </a>
    <a [routerLink]="['/', translate.currentLang, 'voiceover']" routerLinkActive="active" (click)="isMenuOpen = false">
      {{ 'NAV.VOICEOVER' | translate }}
    </a>
    <a [routerLink]="['/', translate.currentLang, 'producsounds']" routerLinkActive="active" (click)="isMenuOpen = false">
      {{ 'NAV.PRODUCSOUNDS' | translate }}
    </a>
    <a [routerLink]="['/', translate.currentLang, 'pricing']" routerLinkActive="active" (click)="isMenuOpen = false">
      {{ 'NAV.PRICING' | translate }}
    </a>
    <a [routerLink]="['/', translate.currentLang, 'enterprise']" routerLinkActive="active" (click)="isMenuOpen = false">
      {{ 'NAV.ENTERPRISE' | translate }}
    </a>
    <a [routerLink]="['/', translate.currentLang, 'how-it-works']" routerLinkActive="active" (click)="isMenuOpen = false">
      {{ 'NAV.HOW_IT_WORKS' | translate }}
    </a>
    
    <div class="mobile-auth" *ngIf="isMobile">
      <button class="btn-login" [routerLink]="[{ outlets: { auth: ['login'] } }]" (click)="isMenuOpen = false">
        {{ 'NAV.LOGIN' | translate }}
      </button>
      <button class="btn-create-account" [routerLink]="[{ outlets: { auth: ['signup'] } }]" (click)="isMenuOpen = false">
        {{ 'NAV.CREATE_ACCOUNT' | translate }}
      </button>
    </div>
  </nav>

  <div class="nav-right" *ngIf="!isMobile">
    <button class="btn-login" [routerLink]="[{ outlets: { auth: ['login'] } }]">{{ 'NAV.LOGIN' | translate }}</button>
    <button class="btn-create-account" [routerLink]="[{ outlets: { auth: ['signup'] } }]">{{ 'NAV.CREATE_ACCOUNT' | translate }}</button>
  </div>
</div>
