

// COCO APPLISOUND

@font-face {
    font-family: 'coco';
    src: url('../assets/fonts/coco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-bold';
  src: url('../assets/fonts/coco-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-bold-italic';
  src: url('../assets/fonts/coco-bold-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-fat';
  src: url('../assets/fonts/coco-fat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-fat-italic';
  src: url('../assets/fonts/coco-fat-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-heavy';
  src: url('../assets/fonts/coco-heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-heavy-italic';
  src: url('../assets/fonts/coco-heavy-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-italic';
  src: url('../assets/fonts/coco-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-light';
  src: url('../assets/fonts/coco-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-light-italic';
  src: url('../assets/fonts/coco-light-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-ultralight';
  src: url('../assets/fonts/coco-ultralight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}

@font-face {
  font-family: 'coco-ultralight-italic';
  src: url('../assets/fonts/coco-ultralight-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; // Optimisation pour le chargement
}


