

// COLORS FONCTIONS //

// Basic colors of Applisound
$white-aps: #FCFCFC;
$bleu1-aps: #0E131F;
$bleu2-aps: #030814;
$bleu3-aps: #04060D;
$pink-aps: #FF0035;

// FONTS




$padding-horizontal: 48px; // marges latérales
$padding-vertical: 32px;   // marges haut/bas

