.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-top: 110px; // Ajustez selon la hauteur de votre navbar
  
  @media (max-width: 767px) {
    margin-top: 70px; // Hauteur de la navbar en mobile
  }
}

.route-container {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.lang-selector {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1001;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  cursor: pointer;
}