.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-top: 110px; // Ajustez selon la hauteur de votre navbar
  
  @media (max-width: 767px) {
    margin-top: 70px; // Hauteur de la navbar en mobile
  }
}

.route-container {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}